body{
  color: #000;
}

a{
  text-decoration: none;
  color:initial;
}

p{
  margin-bottom: 0;
}
ul , ol{
  list-style: none;
  padding-left: 0;
}

/* ---==========---*/
/* 標題裝飾線 */
/* ---==========---*/
.title-deco::before {
    content: '';
    display: inline-block;
    width: 56px;
    height: 6px;
    background-image: url("/images/title-deco-left-sm.png");
    vertical-align: middle;
    margin-right: 1rem;
  }
  
  .title-deco::after {
    content: '';
    display: inline-block;
    width: 56px;
    height: 6px;
    background-image: url("/images/title-deco-right-sm.png");
    vertical-align: middle;
    margin-left: 1rem;
  }
  
  @include media-breakpoint-up(md) {
    .title-deco::before {
      content: '';
      display: inline-block;
      width: 100px;
      height: 6px;
      background-image: url("/images/title-deco-left-lg.png");
      vertical-align: middle;
      margin-right: 1rem;
    }
  
    .title-deco::after {
      content: '';
      display: inline-block;
      width: 100px;
      height: 6px;
      background-image: url("/images/title-deco-right-lg.png");
      vertical-align: middle;
      margin-left: 1rem;
    }
  }




/* ---==========---*/
/* 工具類 */
/* ---==========---*/
.pointer{
  cursor: pointer;
}

.multiline-ellipsis { 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}